In [14]:
import itertools
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
import os
from functools import reduce
from itertools import chain
from sympy import factorint
import glob
import pyDOE2
from sklearn.utils import shuffle

In [15]:
num_rows = 24
num_cols = 16

available_rows = range(num_rows)
available_cols = range(num_cols)

wells = list(itertools.product(*[available_cols,available_rows]))
wells = pd.DataFrame(wells,columns=['col','row'])

wells_per_plate = len(wells)
wells

# wells['droplets'] = (wells['col'] + 1) *2
wells['droplets'] = 5
wells

     col  row  droplets
0      0    0         5
1      0    1         5
2      0    2         5
3      0    3         5
4      0    4         5
..   ...  ...       ...
379   15   19         5
380   15   20         5
381   15   21         5
382   15   22         5
383   15   23         5

[384 rows x 3 columns]

In [16]:
def snake_df(df):
    sorted_array = []
    for row, row_df in df.groupby('row'):
        if row % 2 == 0:
            row_df = row_df.sort_values('col',ascending=True)
        else:
            row_df = row_df.sort_values('col',ascending=False)
        sorted_array.append(row_df)
    
    return pd.concat(sorted_array)


sorted_df = snake_df(wells)
sorted_df

     col  row  droplets
0      0    0         5
24     1    0         5
48     2    0         5
72     3    0         5
96     4    0         5
..   ...  ...       ...
119    4   23         5
95     3   23         5
71     2   23         5
47     1   23         5
23     0   23         5

[384 rows x 3 columns]

In [17]:
name = '5drops_24x16'
file_path = f'./{name}.csv'
file_path
sorted_df = sorted_df.rename(columns={'row':'Row','col':'Column','droplets':'Droplet'})
df = sorted_df.copy()

df['Droplet'] = df['Droplet'].astype(int)
df = df[df['Droplet'] != 0]

print(file_path)
df[['Row','Column','Droplet']].set_index('Row').to_csv(file_path)

./5drops_24x16.csv

In [8]:
# for plate, plate_df in sorted_df.groupby('plate'):
#     for [name,conc],df in plate_df.groupby(['reagent','stock']):
#         plate_name = experiment_id + '_' + str(plate)
#         dir_path = r'C:\Users\conar\printing-platform\Print_arrays\{}'.format(plate_name)

#         file_name = '{}\{}-{}.csv'.format(dir_path,name,round(conc,2))
#         df = df.rename(columns={'row':'Row','col':'Column','droplets':'Droplet'})
#         df['Droplet'] = df['Droplet'].astype(int)
#         df = df[df['Droplet'] != 0]
#         if len(df) == 0:
#             print(f'{name}-{conc} has no droplets')
#             continue
#         print(file_name)
#         df[['Row','Column','Droplet']].set_index('Row').to_csv(file_name)