In [2]:
import itertools
import pandas as pd

In [13]:
reag_conc = {
    'A_2': [1,2],
    'B_3': [4,5],
    'C_4': [1,4],
    'D_5': [2,5],
    'E_6': [3],
    'F_7': [7],
    'G_8': [9],
    'H_9': [1],
    'I_3': [1]
}
reag_conc

{'A_2': [1, 2],
 'B_3': [4, 5],
 'C_4': [1, 4],
 'D_5': [2, 5],
 'E_6': [3],
 'F_7': [7],
 'G_8': [9],
 'H_9': [1],
 'I_3': [1]}

In [14]:
combinations = list(itertools.product(*reag_conc.values()))
combinations_df = pd.DataFrame(combinations, columns=reag_conc.keys())
combinations_df.reset_index().rename(columns={'index': 'reaction_id'}).to_csv('combinations.csv', index=False)
combinations_df

    A_2  B_3  C_4  D_5  E_6  F_7  G_8  H_9  I_3
0     1    4    1    2    3    7    9    1    1
1     1    4    1    5    3    7    9    1    1
2     1    4    4    2    3    7    9    1    1
3     1    4    4    5    3    7    9    1    1
4     1    5    1    2    3    7    9    1    1
5     1    5    1    5    3    7    9    1    1
6     1    5    4    2    3    7    9    1    1
7     1    5    4    5    3    7    9    1    1
8     2    4    1    2    3    7    9    1    1
9     2    4    1    5    3    7    9    1    1
10    2    4    4    2    3    7    9    1    1
11    2    4    4    5    3    7    9    1    1
12    2    5    1    2    3    7    9    1    1
13    2    5    1    5    3    7    9    1    1
14    2    5    4    2    3    7    9    1    1
15    2    5    4    5    3    7    9    1    1